name: Deploy to NuxtHub

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy to NuxtHub
    runs-on: ubuntu-latest
    environment:
      name: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install
        run: npm ci

      - name: Build (NuxtHub)
        run: npm run build
        env:
          NODE_ENV: production
          NUXT_HUB_REMOTE: "false"
          NUXT_APP_BASE_URL: ${{ vars.NUXT_APP_BASE_URL }}
          ROBOTS_MODE: "app"
          WEBSITE_URL: "https://app.blockchange.com.py"

      - name: Deploy to NuxtHub
        uses: nuxt-hub/action@v2
        with:
          project-key: ${{ secrets.NUXT_HUB_PROJECT_KEY }}
        env:
          NODE_ENV: production
          NUXT_HUB_REMOTE: "false"
          NUXT_APP_BASE_URL: ${{ vars.NUXT_APP_BASE_URL }}
          ROBOTS_MODE: "app"
          WEBSITE_URL: "https://app.blockchange.com.py"
          NUXT_HUB_PROJECT_URL: ${{ secrets.NUXT_HUB_PROJECT_URL }}
          NUXT_HUB_PROJECT_SECRET_KEY: ${{ secrets.NUXT_HUB_PROJECT_SECRET_KEY }}
